Repository wangtaohz/arctic, pull requests merged in 2023-01, with the labels that each got.

#2 block adapt spark writer
  spark/v3.1/spark/src/main/java/com/netease/arctic/spark/ArcticSparkCatalog.java
  spark/v3.1/spark/src/main/java/com/netease/arctic/spark/table/ArcticSparkTable.java
  spark/v3.1/spark/src/main/java/com/netease/arctic/spark/writer/ArcticSparkWriteBuilder.java
  spark/v3.1/spark/src/main/java/com/netease/arctic/spark/writer/KeyedSparkBatchWrite.java
  spark/v3.1/spark/src/main/java/com/netease/arctic/spark/writer/UnkeyedSparkBatchWrite.java
  spark/v3.1/spark/src/test/java/com/netease/arctic/spark/ArcticSparkCatalogTestGroup.java
  spark/v3.1/spark/src/test/java/com/netease/arctic/spark/hive/TestKeyedTableDml.java
Labels: module:spark

#3 Adapt new Transaction model
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/optimize/BaseIcebergOptimizePlan.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/optimize/IcebergMinorOptimizePlan.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/optimize/IcebergOptimizeCommit.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/service/impl/TableExpireService.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/utils/ChangeFilesUtil.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/utils/ContentFileUtil.java
  ams/ams-server/src/test/java/com/netease/arctic/ams/server/utils/SequenceNumberFetcherTest.java
  core/src/main/java/com/netease/arctic/data/DefaultKeyedFile.java
  core/src/main/java/com/netease/arctic/data/IcebergContentFile.java
  core/src/main/java/com/netease/arctic/data/file/ContentFileWithSequence.java
  core/src/main/java/com/netease/arctic/data/file/DataFileWithSequence.java
  core/src/main/java/com/netease/arctic/data/file/DeleteFileWithSequence.java
  core/src/main/java/com/netease/arctic/data/file/WrapFileWithSequenceNumberHelper.java
  core/src/main/java/com/netease/arctic/iceberg/CombinedDeleteFilter.java
  core/src/main/java/com/netease/arctic/io/reader/DataReaderCommon.java
  core/src/main/java/com/netease/arctic/io/reader/GenericCombinedIcebergDataReader.java
  core/src/main/java/com/netease/arctic/scan/BaseArcticFileScanTask.java
  core/src/main/java/com/netease/arctic/scan/BaseChangeTableIncrementalScan.java
  core/src/main/java/com/netease/arctic/scan/BaseKeyedTableScan.java
  core/src/main/java/com/netease/arctic/scan/CombinedIcebergScanTask.java
  core/src/main/java/com/netease/arctic/utils/ConvertStructUtil.java
  core/src/main/java/com/netease/arctic/utils/SequenceNumberFetcher.java
  core/src/main/java/com/netease/arctic/utils/SerializationUtils.java
  core/src/main/java/com/netease/arctic/utils/TableFileUtils.java
  core/src/test/java/com/netease/arctic/IcebergFormatBase.java
  core/src/test/java/com/netease/arctic/io/GenericCombinedIcebergDataReaderTest.java
  core/src/test/java/com/netease/arctic/io/IcebergFanoutPosDeleteWriterTest.java
  optimizer/src/main/java/com/netease/arctic/optimizer/operator/BaseTaskExecutor.java
  optimizer/src/main/java/com/netease/arctic/optimizer/operator/executor/BaseExecutor.java
  optimizer/src/main/java/com/netease/arctic/optimizer/operator/executor/IcebergExecutor.java
  optimizer/src/main/java/com/netease/arctic/optimizer/operator/executor/MajorExecutor.java
  optimizer/src/main/java/com/netease/arctic/optimizer/operator/executor/MinorExecutor.java
  optimizer/src/main/java/com/netease/arctic/optimizer/operator/executor/NodeTask.java
  optimizer/src/test/java/com/netease/arctic/optimizer/operator/executor/TestIcebergExecutor.java
  optimizer/src/test/java/com/netease/arctic/optimizer/operator/executor/TestIcebergExecutorBase.java
Labels: module:core, module:ams, module:dashboard

#4 Adapt new Transaction model
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/optimize/FullOptimizePlan.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/optimize/MinorOptimizePlan.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/optimize/SupportHiveCommit.java
  core/src/main/java/com/netease/arctic/data/DataTreeNode.java
  core/src/main/java/com/netease/arctic/data/DefaultKeyedFile.java
  core/src/main/java/com/netease/arctic/io/FileNameHandle.java
  core/src/main/java/com/netease/arctic/io/writer/CommonOutputFileFactory.java
  core/src/main/java/com/netease/arctic/scan/BaseArcticFileScanTask.java
  core/src/main/java/com/netease/arctic/scan/BaseChangeTableIncrementalScan.java
  core/src/main/java/com/netease/arctic/utils/ConvertStructUtil.java
  core/src/main/java/com/netease/arctic/utils/TableFileUtils.java
  core/src/test/java/com/netease/arctic/data/KeyedDataFileTest.java
  core/src/test/java/com/netease/arctic/io/FileNameHandleTest.java
  core/src/test/java/com/netease/arctic/io/TableTestBaseWithInitData.java
  core/src/test/java/com/netease/arctic/scan/TableEntriesScanTest.java
  core/src/test/java/com/netease/arctic/utils/FileUtilTest.java
  hive/src/main/java/com/netease/arctic/hive/io/writer/AdaptHiveOutputFileFactory.java
Labels: module:core, module:ams, module:dashboard, module:hive

#5 Adapt new Transaction model
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/optimize/BaseOptimizeCommit.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/optimize/MajorOptimizePlan.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/optimize/SupportHiveFullOptimizePlan.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/utils/ContentFileUtil.java
  ams/ams-server/src/test/java/com/netease/arctic/ams/server/optimize/TestExpiredFileClean.java
  ams/ams-server/src/test/java/com/netease/arctic/ams/server/optimize/TestMajorOptimizeCommit.java
  ams/ams-server/src/test/java/com/netease/arctic/ams/server/optimize/TestMajorOptimizePlan.java
  ams/ams-server/src/test/java/com/netease/arctic/ams/server/optimize/TestMinorOptimizeCommit.java
  ams/ams-server/src/test/java/com/netease/arctic/ams/server/optimize/TestMinorOptimizePlan.java
  ams/ams-server/src/test/java/com/netease/arctic/ams/server/optimize/TestOptimizeBase.java
  ams/ams-server/src/test/java/com/netease/arctic/ams/server/optimize/TestSupportHiveMajorOptimizeCommit.java
  ams/ams-server/src/test/java/com/netease/arctic/ams/server/optimize/TestSupportHiveMajorOptimizePlan.java
  ams/ams-server/src/test/java/com/netease/arctic/ams/server/util/DataFileInfoUtils.java
  core/src/main/java/com/netease/arctic/data/DefaultKeyedFile.java
  core/src/main/java/com/netease/arctic/data/file/WrapFileWithSequenceNumberHelper.java
  core/src/main/java/com/netease/arctic/scan/BaseChangeTableIncrementalScan.java
  core/src/main/java/com/netease/arctic/scan/BaseKeyedTableScan.java
  core/src/main/java/com/netease/arctic/scan/ChangeTableIncrementalScan.java
  core/src/main/java/com/netease/arctic/scan/TableEntriesScan.java
  flink/v1.12/flink/src/test/java/com/netease/arctic/flink/write/ArcticFileCommitterTest.java
  flink/v1.12/flink/src/test/java/com/netease/arctic/flink/write/ArcticFileWriterITCase.java
  flink/v1.14/flink/src/test/java/com/netease/arctic/flink/write/ArcticFileCommitterTest.java
  flink/v1.14/flink/src/test/java/com/netease/arctic/flink/write/ArcticFileWriterITCase.java
  flink/v1.15/flink/src/test/java/com/netease/arctic/flink/write/ArcticFileCommitterTest.java
  flink/v1.15/flink/src/test/java/com/netease/arctic/flink/write/ArcticFileWriterITCase.java
  hive/src/main/java/com/netease/arctic/hive/io/writer/AdaptHiveOutputFileFactory.java
  hive/src/test/java/com/netease/arctic/hive/io/TestIOUtils.java
  optimizer/src/main/java/com/netease/arctic/optimizer/operator/executor/BaseExecutor.java
  optimizer/src/test/java/com/netease/arctic/optimizer/operator/executor/TestIcebergExecutorBase.java
  optimizer/src/test/java/com/netease/arctic/optimizer/operator/executor/TestMajorExecutor.java
  optimizer/src/test/java/com/netease/arctic/optimizer/operator/executor/TestMinorExecutor.java
  optimizer/src/test/java/com/netease/arctic/optimizer/operator/executor/TestOptimizeBase.java
  optimizer/src/test/java/com/netease/arctic/optimizer/operator/executor/TestSupportHiveMajorExecutor.java
  optimizer/src/test/java/com/netease/arctic/optimizer/util/ContentFileUtil.java
  optimizer/src/test/java/com/netease/arctic/optimizer/util/DataFileInfoUtils.java
  spark/v2.3/spark/src/test/java/com/netease/arctic/spark/SparkTestContext.java
  spark/v3.1/spark/src/test/java/com/netease/arctic/spark/SparkTestContext.java
  spark/v3.1/spark/src/test/java/com/netease/arctic/spark/TestKeyedTableDML.java
  trino/src/main/java/com/netease/arctic/trino/unkeyed/IcebergSplitManager.java
  trino/src/main/java/com/netease/arctic/trino/unkeyed/IcebergSplitSource.java
  trino/src/test/java/com/netease/arctic/trino/arctic/TableTestBaseWithInitDataForTrino.java
Labels: module:core, module:ams, module:dashboard, module:flink, module:spark, module:hive, module:trino

#6 Adapt new Transaction model
  trino/src/test/java/com/netease/arctic/trino/arctic/TableTestBaseWithInitDataForTrino.java
  trino/src/test/java/com/netease/arctic/trino/arctic/TestBaseArcticPrimaryTable.java
Labels: module:trino

#7 Adapt new Transaction model
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/optimize/BaseOptimizeCommit.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/optimize/IcebergOptimizeCommit.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/optimize/OptimizeTaskItem.java
  core/src/main/java/com/netease/arctic/utils/SerializationUtils.java
Labels: module:core, module:ams, module:dashboard
